html {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #f7f7f7;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.masthead {
  border-bottom: 7px solid #f7c602;
}

.index-banner {
  background-image: url("../images/banner.png");
  min-height: 300px;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-text {
  border-radius: 6px;
  color: #f7f7f7;
  min-width: 250px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #f7c602;
}

footer {
  background-color: #f7f7f7;
  color: #000;
}

footer svg {
  color: #000;
}

.btn-ghost {
  border-color: #f7c602;
}

.btn-ghost:hover {
  background-color: #f7c602;
  border-color: #f7c602;
}

.box {
  background-color: #f7c602;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
  bottom: 1%;
  left: 1%;
}

/* JavaScript starts code here  */

.info-panel-btn {
  color: #000;
  letter-spacing: .03em;
}

.info-panel-btn-indicator {
  display: none;
}

.info-panel-btn-active::before {
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  height: 10px;
  width: 100%;

  box-shadow: 0 -1px 5px rgba(247, 198, 2, .7);
}

.info-panel-btn-active .info-panel-btn-indicator {
  display: block;
}

.info-panel {
  position: relative;
  z-index: 1000;
  background-color: #f7f7f7;
  color: #000;
  border: 3px solid #f7c602;
}

/* JavaScript ends code here  */
